<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="../styles.css" />
</head>

<body>

  <div class="sidebar">

  <div class="home-icon">
    <a href="index.html">
      <img class="icon" src="../assets/home.png" alt="Home" />
    </a>
  </div>

    <nav class="side-nav">
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="skills.html">Skills</a></li>
        <li><a href="career.html">Career</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <div class="social-icons">
      <a href="https://www.linkedin.com/in/mishalnanalal/" target="_blank">
        <img class="icon" src="../assets/linkedin.png" alt="LinkedIn Icon" />
      </a>
      <a href="https://github.com/30MN03" target="_blank">
        <img class="icon" src="../assets/github.png" alt="Github Icon" />
      </a>
      <a href="" target="_blank">
        <img class="icon" src="../assets/discord.png" alt="Discord Icon" />
      </a>
    </div>
  </div>
</body>